*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

:root{
    --theme-color: rgb(28,103,50);
    --body-color: #4D5765;
    --smoke-color: #F3F7FB;
    --font-roboto: "Roboto", sans-serif;
    --font-jost: "Jost", sans-serif;
}

.font__roboto{
    font-family: var(--font-roboto) !important;
}

.font__jost{
    font-family: var(--font-jost) !important;
}

.hero__section{
    background-image: url("../assets/hero__bg.jpg");
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.th-sub {
    color: #fff !important;
    font-size: 28px;
    font-weight: 700;
    text-transform: capitalize;
    font-style: italic;
    line-height: 1px;
    letter-spacing: .6px;
}

@media (max-width: 768px) {
    .th-sub {
        font-size: 24px;
    }
}

@media (max-width: 640px) {
    .th-sub {
        font-size: 18px;
        text-align: center !important;
    }
}

.search-form{
    position: relative !important;
}

.form-group{
    position: relative !important;
}

.hero__input__search{
    width: 100%;
    outline: 0;
    border: none;
    border-radius: 5px !important;
    padding: 20px 10px !important;
    padding-left: 60px !important;
    padding-right: 8rem !important;
    box-shadow: 0 7px 35px 0 #e8f2fd;
    height: 70px;
}

#hero__search__icon{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__search__btn{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn__hero__search__btn {
    background-color: var(--theme-color) !important;
    color: #fff;  
    font-weight: 700;
    border-radius: 5px !important;
    padding: 12px 22px;
    margin-right: 1rem;
    box-shadow: 0 6px 16px rgba(13, 94, 244, .24);
}



@media(max-width: 640px) {
    .hero__input__search{
        padding-right: 2rem !important;
    }

    .hero__search__btn {
        position: static;
        margin: 0 auto;
        padding: 20px 35px;
    }

    .btn__hero__search__btn {
        margin-right: 0;
    }
}

/* partners section */

.slide__partners {
    position: relative;
    z-index: 1;
}

.slide__partners .slider__partner__leftArrow{
    position: absolute;
    bottom: 0;
    left: 0;
    cursor: pointer;
    display: inline-block;
    height: 100%;
    opacity: 80%;
    z-index: 5;
    stroke-width: 3px !important;
}
.slide__partners .slider__partner__rightArrow{
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    display: inline-block;
    height: 100%;
    opacity: 80%;
    z-index: 5;
    stroke-width: 3px !important;
}

.service__details__box {
    box-shadow: -1.21px 6.894px 15px 0 rgba(0, 0, 0, .07);
}

.service__btn {
    padding: 14px 20px;
    color: #fff;
    background-color: #4a9e32;
    border-style: solid;
    border-width: 1px;
    border-color: #f7f9fb;
    border-radius: 5px 5px 5px 5px;
}
